
LOG_LEVEL=

DATABASE_URL=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# the base path (absolute) of the working directory
FEATHER_WORK_DIR=

# Optional Feather related env variables

# the hostname (domain) of your web server, default localhost
FEATHER_HOSTNAME=
# the port to listen on, default 8080
FEATHER_PORT=
# use HTTPS, default false (needs cert & key setup on the Vapor app)
FEATHER_HTTPS=
# maximum body size for file uploads
FEATHER_MAX_BODY_SIZE=
# disable file middleware, default false (if disabled you can serve files with nginx)
FEATHER_DISABLE_FILE_MIDDLEWARE=
# disable the session auth middleware for api endpoints (recommended for production)
FEATHER_DISABLE_API_SESSION_MIDDLEWARE=